/* .book .book-summary .chapter > .articles { */
.book .book-summary .chapter ul {
	overflow: hidden;
	max-height: 0px;
}

.book .book-summary .chapter li > ul {
	overflow: hidden;
	max-height: 0px !important;
}

/* .book .book-summary .chapter.expanded > .articles { */
.book .book-summary .chapter.expanded ul {
	max-height: 9999px;
}

.book .book-summary .chapter.expanded li.expanded > ul {
	max-height: 9999px !important;
}

.book .book-summary .exc-trigger {
	position: absolute;
  	left: 20px;
  	top: 3px;
}

.book .book-summary {
/*	background: #F3EACB;*/
	font-size: 11px;
}
.book .book-summary ul.summary li{
/*	list-style-type: circle;*/
/*	padding: 2px 15px 3px 30px;	*/
}
.book .book-summary ul.summary li a{
	padding: 2px 15px 3px 30px;	
/*	padding-left: 10px;	*/
}
.book .book-summary ul.summary li span {
/*	padding-left: 5px;*/
	padding: 2px 15px 3px 10px;	
/*	list-style-type: circle;*/
}

.book .book-summary .exc-trigger:before {
  	content: "\f105";
}

.book .book-summary .expanded > a .exc-trigger:before,
.book .book-summary .expanded > span .exc-trigger:before {
	content: "\f107";
}
